
.btn-outline-warning {
    color: #C3900E !important;
    border-color: #C3900E !important;
}


.grid_box {
    background-color: white ;
    border-style: solid;
    border-width: 1px ;
    border-radius: 6px;
    border-color: #ededed;
    margin-left: 1.5px;
    margin-right: 1.5px;
}

.loading_render {
    color: #C3900E !important;
}